[Unit]
Description=OpenContrail web-node

After=ifmap-server.service
Requires=ifmap-server.service

[Service]
ExecStartPre=/usr/bin/docker pull opencontrail/web:2.20
ExecStartPre=-/usr/bin/docker rm -f contrail-web
ExecStart=/usr/bin/docker run --name contrail-web --net=host -p 8143:8143 -v /etc/contrail:/etc/contrail:z -v /var/log/contrail:/var/log/contrail:z --cap-add=NET_BIND_SERVICE opencontrail/web:2.20 /usr/bin/contrail-webui-start.sh
ExecStop=/usr/bin/docker stop -t 10 contrail-web
Restart=on-failure
# Processes that do not register an handler for SIGTERM will be killed by
# the "docker stop" command after the timeout. The docker client that performs
# the "run" operation will then exit with code 137. Defining status 137 as
# successful prevents the systemd unit from entering "failed state".
SuccessExitStatus=0 137
TimeoutStartSec=0
TimeoutStopSec=1m


[Install]
WantedBy=multi-user.target
