--- /usr/share/openshift/examples/quickstart-templates/rails-postgresql.json	2016-01-04 23:35:22.893340775 +0000
+++ rails-postgresql.json	2016-01-08 19:04:41.531340775 +0000
@@ -18,6 +18,9 @@
       "apiVersion": "v1",
       "metadata": {
         "name": "rails-postgresql-example",
+        "labels": {
+          "opencontrail.org/name": "web-frontend-vn"
+        },
         "annotations": {
           "description": "Exposes and load balances the application pods"
         }
@@ -73,7 +76,9 @@
           "type": "Git",
           "git": {
             "uri": "${SOURCE_REPOSITORY_URL}",
-            "ref": "${SOURCE_REPOSITORY_REF}"
+            "ref": "${SOURCE_REPOSITORY_REF}",
+            "httpProxy": "http://{{ openshift_master_portal_net | ipaddr('net') | ipaddr(2) | ipaddr('address')}}:3128",
+            "httpsProxy": "http://{{ openshift_master_portal_net | ipaddr('net') | ipaddr(2) | ipaddr('address')}}:3128"
           },
           "contextDir": "${CONTEXT_DIR}"
         },
@@ -84,7 +89,17 @@
               "kind": "ImageStreamTag",
               "namespace": "openshift",
               "name": "ruby:2.2"
-            }
+            },
+            "env": [
+                {
+                    "name": "http_proxy",
+                    "value": "http://{{ openshift_master_portal_net | ipaddr('net') | ipaddr(2) | ipaddr('address')}}:3128"
+                },
+                {
+                    "name": "https_proxy",
+                    "value": "http://{{ openshift_master_portal_net | ipaddr('net') | ipaddr(2) | ipaddr('address')}}:3128"
+                }
+            ]
           }
         },
         "output": {
@@ -106,7 +121,12 @@
               "secret": "${GITHUB_WEBHOOK_SECRET}"
             }
           }
-        ]
+        ],
+        "resources": {
+          "limits": {
+            "memory": "1Gi"
+          }
+        }
       }
     },
     {
@@ -123,7 +143,7 @@
           "type": "Recreate",
           "recreateParams": {
           "pre": {
-              "failurePolicy": "Abort",
+              "failurePolicy": "Ignore",
               "execNewPod": {
                 "command": [
                   "./migrate-database.sh"
@@ -159,7 +179,9 @@
           "metadata": {
             "name": "rails-postgresql-example",
             "labels": {
-              "name": "rails-postgresql-example"
+              "name": "rails-postgresql-example",
+              "opencontrail.org/name": "web-frontend-vn",
+              "opencontrail.org/services": "db-backend-vn"
             }
           },
           "spec": {
@@ -233,6 +255,9 @@
       "apiVersion": "v1",
       "metadata": {
         "name": "${DATABASE_SERVICE_NAME}",
+        "labels": {
+          "opencontrail.org/name": "db-backend-vn"
+        },
         "annotations": {
           "description": "Exposes the database server"
         }
@@ -290,7 +315,8 @@
           "metadata": {
             "name": "${DATABASE_SERVICE_NAME}",
             "labels": {
-              "name": "${DATABASE_SERVICE_NAME}"
+              "name": "${DATABASE_SERVICE_NAME}",
+              "opencontrail.org/name": "db-backend-vn"
             }
           },
           "spec": {
